.idea/.name
.idea/compiler.xml
.idea/copyright/profiles_settings.xml
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/uiDesigner.xml
.idea/workspace.xml
.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties
RESTapi-test.iml
mvnw
mvnw.cmd
target/classes/application.properties
target/classes/com/example/GreetingController.class
target/classes/com/example/GreetingModel.class
target/classes/com/example/InsultModel.class
target/classes/com/example/SpringRestApiApplication.class
target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
target/test-classes/com/example/SpringRestApiApplicationTests.class
